@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 
.CCR_Home , .CCR_About , .CCR_Contact{
    background-color: black;
    /* height: 404px; */
    /* height: calc(100vh - 103px); */
 
    
    color : white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: 'Tilt Prism', cursive;
}

/* .CCR_About , .CCR_Contact{
    padding: 20px;
    flex-direction: column;
 
} */

.About_heading , .Contact_Heading{
    margin: 5px;
    color: rgb(156, 156, 209);
}

.About_para , .Contact_para{
    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 15px;
}

 .About_Logo ,  .Contact_Logo{
    width: 400px;
    height: 400px;
}




.home {
    /* display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    */

    position: fixed;
right: 0;
top: 0;
width: 80vw;
display: flex;
flex-direction: column;
padding: 40px;
font-family: 'Tilt Prism', cursive;
overflow: scroll;
scroll-behavior: smooth;
height: 100vh;
font-size: 3rem;
align-items: center;
justify-content: center;
}

.charzerofour{
    font-family: 'Tilt Prism', cursive;
font-size: 3rem;
display: flex;
margin-top: 100px;
align-items: center;
justify-content: center;
font-family: 'Climate Crisis', cursive;
 font-weight: 100;
 letter-spacing: 2px;
}


